# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
.conda/

# Environment and secrets
.env
clientsecret.json
*.pem
*.key

# Jupyter
.ipynb_checkpoints/

# OS/Editor
.DS_Store
Thumbs.db
.vscode/
*.code-workspace
